.body {
    text-align: center;
    

}
#welcomeimg {
    background-image: url(assets/backgrounds/h_img.jpg);
    color:white;
    background-size: 700px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

#about {
       text-align: center; 
}

#services {
    background-image:url("assets/backgrounds/s_image.jpeg");
    color: white;
    text-align: center;
    
    
}
#contact {
    background-image: url(assets/backgrounds/c_image.jpg);
    text-align: center;
    background-size: cover;
    
}
#social {
    text-align: center;
}


#useremail {
    background-color:rgba(0, 0, 0, 0);
    border-style:solid;
    border-color: white;
    color: white;
    display: inline;
    
}
#username{
    background-color:rgba(0, 0, 0, 0);
    border-style:groove;
    border-color: white;
    color: white;
}
foam#contact::-webkit-input-placeholder{
    color: white;
}
form#contact::-ms-input-placeholder{
    color: white;
}
#submit {
    float:right;
    margin-top: 300px;
    background-color: blue;
    color: white;
}

.whatWeDo{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}
#whatWeDoTitle{
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.icon {
    display: flex;
    text-align: center;
    margin-left: 90px;
    margin-bottom: 30px;
   
}
.container2 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0px;

}
.container3 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10000px;
    
    

}

 
    

 .card {
     
     /* margin: 10px; */
     align-content: center;
     
     
 }

#message {
    background-color:rgba(0, 0, 0, 0);
    border-style:solid;
    border-color: white;
    color: white;
    margin-left: 150px;
}
.hidden {
    text-align: center;
    display: none;
}
#what1 {
    text-align: center;
}
#what2 {
    text-align: center;
}
#what3 {
    text-align: center;
}
#project1 {
    background-image: url("assets/portfolio/work4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}
#project2 {
    background-image: url("assets/portfolio/work3.jpg");
    background-size:cover;
    
    background-repeat: no-repeat;
}
#project3 {
    background-image: url("assets/portfolio/work2.jpg");
    background-size: cover;
    
}
#project4 {
    background-image: url("assets/portfolio/work1.jpg");
    background-size: cover;
    
}
#project5 {
    background-image: url("assets/portfolio/work5.jpg");
    background-size: cover;
}
#project6 {
    background-image: url("assets/portfolio/work6.jpg");
    background-size: cover;
}
#project7 {
    background-image: url("assets/portfolio/work7.jpg");
    background-size: cover;
}
#project8 {
    background-image: url("assets/portfolio/work8.jpg");
    background-size: cover;
    
}
#portfolio h3{
    text-align: center;
}
.port{
    /* display: none; */
    color: white;
    text-align:left;
    /* border:  white; */
    /* display: flex; */
    padding:80px;
    
   
    align-content: center;

}
.port p {
   
    
    position: relative;
    
    
    border: 5px solid white  ;
    
     
}
.content {
display: flex;
position: relative;
width: 200px;
height: 200px;
margin: 50px;
margin-left: 10px;
text-align: center;



}
.content div{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 5px solid white;
    padding: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 10px;
    color: white;
    
}
