.body {
    text-align: center;
    

}
#welcomeimg {
    background-image: url(assets/backgrounds/h_img.jpg);
    color:white;
    background-size: 700px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

#about {
       text-align: center; 
}

#services {
    background-image:url("assets/backgrounds/s_image.jpeg");
    color: white;
    text-align: center;
    
    
}
#contact {
    background-image: url(assets/backgrounds/c_image.jpg);
    text-align: center;
    background-size: cover;
    
}
#social {
    text-align: center;
}


#useremail {
    background-color:rgba(0, 0, 0, 0);
    border-style:solid;
    border-color: white;
    color: white;
    display: inline;
    
}
#username{
    background-color:rgba(0, 0, 0, 0);
    border-style:groove;
    border-color: white;
    color: white;
}
foam#contact::-webkit-input-placeholder{
    color: white;
}
form#contact::-ms-input-placeholder{
    color: white;
}
#submit {
    float:right;
    margin-top: 300px;
    background-color: blue;
    color: white;
}

.whatWeDo{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}
#whatWeDoTitle{
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.icon {
    display: flex;
    text-align: center;
    margin-left: 90px;
    margin-bottom: 30px;
   
}
.container2 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0px;

}
.container3 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    

}
#container3 {
    align-content: center;
}


#message {
    background-color:rgba(0, 0, 0, 0);
    border-style:solid;
    border-color: white;
    color: white;
    margin-left: 150px;
}
.hidden {
    text-align: center;
    display: none;
}
#what1, #what2, #what3 {
    text-align: center;
}
.content {
display: flex;
position: relative;
width: 200px;
height: 200px;
margin: 50px;
margin-left: 10px;
text-align: center;
background-color: black;
background-size:cover



}
.content div{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 5px solid white;
    padding: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 10px;
    color: white;
    display: none;
    
}
