.body {
    text-align: center;
    

}


.portimg {
    width: 70%;
    margin: 20px;
    display: block;
 }

#welcomeimg {
    background-image: url(assets/backgrounds/h_img.jpg);
    color:white;
    background-size: 700px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

#about {
       text-align: center; 
}

#services {
    background-image:url("assets/backgrounds/s_image.jpeg");
    color: white;
    text-align: center;
    
    
}
#contact {
    background-image: url(assets/backgrounds/c_image.jpg);
    text-align: center;
    background-size: cover;
    
}
#social {
    text-align: center;
}


#useremail {
    background-color:rgba(0, 0, 0, 0);
    border-style:solid;
    border-color: white;
    color: white;
    display: inline;
    
}
#username{
    background-color:rgba(0, 0, 0, 0);
    border-style:groove;
    border-color: white;
    color: white;
}
foam#contact::-webkit-input-placeholder{
    color: white;
}
form#contact::-ms-input-placeholder{
    color: white;
}
#submit {
    float:right;
    margin-top: 300px;
    background-color: blue;
    color: white;
}

.test {
    display: flex;
    justify-content: center;
 
   
}
.container2 {
    display: flex;
    position: relative;
    justify-content: center;
}
.container3 {
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 10px;
}
 .card {
     margin: 10px;
     padding:100px;
 }

#message {
    background-color:rgba(0, 0, 0, 0);
    border-style:solid;
    border-color: white;
    color: white;
    margin-left: 150px;
}
.hidden {
    text-align: center;
    display: none;
}
#what1 {
    text-align: center;
}
#what2 {
    text-align: center;
}
#what3 {
    text-align: center;
}
/* .projectnum {
    text-align: center;
    display: none;
    
    
   

} */
.closing::before {
    content: '';
    background: rgb(170, 35, 35);
    display: block;
    color: white;
    
}
.closing:hover::after {
    content: '';
    background: rgb(170, 35, 35);
    display: block;
   
    color: white;
}
.closing:hover::before{
    content: "hey i am here";
    scale: 1;
    
}
#project1 {
    background-image: url("assets/portfolio/work4.jpg");
    background-size: cover;
   
}
#project2 {
    background-image: url("assets/portfolio/work3.jpg");
    background-size: cover;
}
#project3 {
    background-image: url("assets/portfolio/work2.jpg");
    background-size: cover;
}
#project4 {
    background-image: url("assets/portfolio/work1.jpg");
    background-size: cover;
}
#project5 {
    background-image: url("assets/portfolio/work5.jpg");
    background-size: cover;
}
#project6 {
    background-image: url("assets/portfolio/work6.jpg");
    background-size: cover;
}
#project7 {
    background-image: url("assets/portfolio/work7.jpg");
    background-size: cover;
}
#project8 {
    background-image: url("assets/portfolio/work8.jpg");
    background-size: cover;
}
#portfolio h3{
    text-align: center;
}